<!DOCTYPE html>

<HTML>
<HEAD>
	<title>404</title>
	<link rel="icon" href="/img/weather.png">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<script type="text/javascript" src="js/app.js "></script>
</HEAD>
<BODY>
	<div class="main-content">
		{{>header}}
		<h4>{{msg}}</h4>
	</div>

	{{>footer}}
	
</BODY>
</HTML>