<!DOCTYPE html>

<HTML>
<HEAD>
	<title>About</title>
	<link rel="icon" href="/img/weather.png">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<script type="text/javascript" src="js/app.js "></script>
</HEAD>
<BODY>
	<div class="main-content">
		{{>header}}
		<img class="robot" src="img/robot.png">
	</div>
	{{>footer}}
	
</BODY>
</HTML>