<!DOCTYPE html>

<HTML>
<HEAD>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<script type="text/javascript" src="js/app.js "></script>
</HEAD>
<BODY>

	<h1>{{title}}</h1>
	<h4>Created by {{name}}</h4>
	
</BODY>
</HTML>